* { padding: 0; margin: 0; list-style: none; }

#space_1 {
    background-color: rgb(143, 238, 130);
    text-align: center;
    
}

#news-list{
    flex-grow: 1;
}

html, body {
    height: 100%;
    
    display: flex;
    flex-direction: column;
  }

  #boxes{
    
    background-image: url("https://media.warriortrading.com/2019/08/shutterstock_775889491.jpg");
  }